.find .find__options{
    background-color: #eeeeee;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding : 15px 25px;
}
.find .find__options .find__option{
    color: #523737;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.find__options .find__option i{
    padding: 10px;
    font-size: 30px;
}
.find__options .find__option span{
    margin-top: 5px;
    font-size: 12px;
}
.find__recommended header{
    color:#b4b4b4;
    font-size: 13px;
    padding:5px 10px;
}
.find__recommended .recommeded__none{
    padding: 20px 0;
    text-align: center;
    font-size: 15px;
    color: #b4b4b4;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}
