.friends__section .friends__section-header{
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding: 10px 15px;
    font-size: 12px;
    color: #ebebeb;
}
.friends__section-rows .friends__section-row{
    font-size :14px;
    display: flex;
    align-items:center;
    padding: 10px 15px;
}
.friends__section-row img{
    border-radius: 50%;
    margin-right: 15px;
    width: 40px;
}
.friends__section-row a{
    text-decoration: none;
    color: black;
}
.friends__section-row .friends__section-column{
    display: flex;
    align-items: center;
}
.friends__section-row .friends__section-tagline{
    background-color:#f0f0f0; ;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 10px; 
    color: #939393;
}
.friends__section-row.width-tagline { 

    justify-content: space-between;
  
  } 
